In [1]:
#-------------------------------->1.list

In [2]:
#1. Create a list (friend_names) with your friend names (10 names)?

In [3]:
list=["anitha","vanaja","prasanna","sivadevi","vanitha","anusha","poojitha","sruthi","mamaatha","manasa"]

In [4]:
print(list)

['anitha', 'vanaja', 'prasanna', 'sivadevi', 'vanitha', 'anusha', 'poojitha', 'sruthi', 'mamaatha', 'manasa']

In [5]:
#------------------------------->2.tupie

In [6]:
#2. Create a tuple (family_members) with your family members?

In [7]:
tuple=("venkataraju","dhanalakshmi","gopalakrishna","dasaradharamayya","nagedhramma","bhogiraju","nagajyothi","lakshamana","umadevi","poojitha")

In [8]:
print(tuple)

('venkataraju', 'dhanalakshmi', 'gopalakrishna', 'dasaradharamayya', 'nagedhramma', 'bhogiraju', 'nagajyothi', 'lakshamana', 'umadevi', 'poojitha')

In [9]:
#------------------------------>3.set

In [10]:
#3. Create a set (colours) with colour names(10 names)?

In [11]:
set={"white","yellow","black","red","orange","brown","blue","pink","green","grey"}

In [12]:
print(set)

{'yellow', 'orange', 'green', 'grey', 'red', 'white', 'black', 'blue', 'pink', 'brown'}

In [13]:
#4. month_names=[1,9,10,5,3,2,7,8,6,4] , sort the list--> write a program?

In [14]:
set={1,9,10,5,3,2,7,8,6,4}

In [15]:
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
#------------------------------>4.Dictionary

In [17]:
#5. Create a dict with your family members(at least 10 names)?

In [18]:
dict={"family members":["venkataraju","dhanalakshmi","gopalakrishna","dasaradharamayya","nagedhramma","bhogiraju","nagajyothi","lakshamana","umadevi","poojitha"]}

In [19]:
print(dict)

{'family members': ['venkataraju', 'dhanalakshmi', 'gopalakrishna', 'dasaradharamayya', 'nagedhramma', 'bhogiraju', 'nagajyothi', 'lakshamana', 'umadevi', 'poojitha']}

In [20]:
dict={"family members":["venkataraju","dhanalakshmi","gopalakrishna","dasaradharamayya","nagedhramma","bhogiraju","nagajyothi","lakshamana","umadevi","poojitha"],"relation":["father","mother","brother","grandfather","grandmother","brother-in-law","sister","uncel","unt","sister"]}

In [21]:
print(dict)

{'family members': ['venkataraju', 'dhanalakshmi', 'gopalakrishna', 'dasaradharamayya', 'nagedhramma', 'bhogiraju', 'nagajyothi', 'lakshamana', 'umadevi', 'poojitha'], 'relation': ['father', 'mother', 'brother', 'grandfather', 'grandmother', 'brother-in-law', 'sister', 'uncel', 'unt', 'sister']}

In [22]:
import pandas as pd
df=pd.DataFrame(dict)
df

     family members        relation
0       venkataraju          father
1      dhanalakshmi          mother
2     gopalakrishna         brother
3  dasaradharamayya     grandfather
4       nagedhramma     grandmother
5         bhogiraju  brother-in-law
6        nagajyothi          sister
7        lakshamana           uncel
8           umadevi             unt
9          poojitha          sister

In [23]:
df.keys()

Index(['family members', 'relation'], dtype='object')

In [24]:
#------------------------->5.slicing

In [25]:
df["family members"][0]

'venkataraju'

In [26]:
df["relation"][9]

'sister'

In [27]:
df["family members"][2]

'gopalakrishna'

In [28]:
df["family members"][7]

'lakshamana'

In [29]:
df["relation"][3]

'grandfather'

In [30]:
df["family members"][0:5]

0         venkataraju
1        dhanalakshmi
2       gopalakrishna
3    dasaradharamayya
4         nagedhramma
Name: family members, dtype: object

In [31]:
df["family members"][0:10]

0         venkataraju
1        dhanalakshmi
2       gopalakrishna
3    dasaradharamayya
4         nagedhramma
5           bhogiraju
6          nagajyothi
7          lakshamana
8             umadevi
9            poojitha
Name: family members, dtype: object

In [32]:
df["relation"][:-6]

0         father
1         mother
2        brother
3    grandfather
Name: relation, dtype: object

In [33]:
df["relation"][0:10]

0            father
1            mother
2           brother
3       grandfather
4       grandmother
5    brother-in-law
6            sister
7             uncel
8               unt
9            sister
Name: relation, dtype: object

In [34]:
#------------------------->6.conditions

In [35]:
1.#Write a program,  my age is more than 20 print teen_age other wise print younge_age?
#a.my_age is 20, who am i? Expected output: you are teen_age
#b.my_age is 30, who am i? Expected output: you are younge_age
#c.my_age is 10, who am i? 
#d.my_age is 40, who am i?

1.0

In [36]:
my_age=21
if my_age>20:
    print("you are teen_age")
else:
    print("you are younge_age")

you are teen_age

In [37]:
my_age=30
if my_age>20:
    print("you are teen_age")
else:
    print("you are younge_age")

you are teen_age

In [38]:
my_age=10
if my_age>20:
    print("you are teen_age")
else:
    print("you are younge_age")

you are younge_age

In [39]:
my_age=40
if my_age>20:
    print("you are teen_age")
else:
    print("you are younge_age")

you are teen_age

In [40]:
#2.Write a program today is Monday/Tuesday/Wendsday/Thursday/Friday print weekday otherwise print weekend?

In [51]:
today="monday"
if today=="monday":
    print("weekday")
elif today=="Tuesday":
    print("weekday")  
elif today=="Wendsday":
    print("weekday")         
elif today=="Thursday":
    print("weekday")         
elif today=="Friday":
    print("weekday")         
else:
    print("weekend")

weekday

In [ ]:
#Task_3:

#Scenario1: Today my business income is 10/- if my income is more than 10/- then print "i am profitable" otherwise print "i lost"
#ఈ రోజు నా ఆదాయం 10. నా ఆదాయం 10 కంటే ఎక్కువ ఉంటే ప్రింట్ నేను లాభదాయకంగా ఉన్నాను లేకపోతే నేను పోగొట్టుకున్నాను.